<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
</head>
 

<body>

  <%- include ('partials/header.ejs') %>
  

    <main>
      <div class="buscador mt-5 mx-auto text-center">
        <h1 class="titulo">ARTISTS</h1>
        <br>
       
      </div>
        <br>
        <div class="artistas-contenedor">
          <% for (let i = 0; i < artistasRegistrados.length; i++) { %>
            <article class="artista">
              <div class="imagen">
                <a href="/artistas/detalleArtista/<%= artistasRegistrados[i].ID %>">

                  <img src="<%= artistasRegistrados[i].Imagen %>" class="product1" alt="<%= artistasRegistrados[i].Nombre %>">
                </a>
                
                <div class="linea"></div>
                <div class="detalle">
                  <p class="nombre"><%= artistasRegistrados[i].Nombre %></p>
                  <p class="nombre"><%= artistasRegistrados[i].DescripcionArtista %></p>
      
                </div>
              </div>
            </article>
          <% } %>
        </div>
        
      
      <br>
      


    </main>
    
  </body>

</html>