<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/detalleArtistas.css"> 

  <%- include ('partials/head.ejs') %>
  
</head>

  <body>
    <%- include ('partials/header.ejs') %>
    <br>
    <br>
    <main>
      <div class="containerName">
        <h1 class="nombreProd"> <%= Artista.Nombre %></h1>
      </div>
      <div class="leftColumn">
          <div class="container">
              <h2> Description</h2>
              <p class="nombreProd"> <%= Artista.DescripcionArtista %></p> <!-- Cambia Artiasta a Artista -->                 
          </div>
  
          <div class="container">
              <h2>  Email </h2>        
              <p><%= Artista.Email %> </p> <!-- Cambia Artiasta a Artista -->       
          </div>
      </div>
      
      <!--boton para editar para los administradores-->
  
      <div class="rightColumn">
          <div class="containerImagen">
              <img src="" alt="Imagen polaroid">
              <% if (Artista.Imagen) { %>
                  <img class="imagenbd" src="<%= Artista.Imagen %>" alt="Imagen de la escuela">
              <% } %>
          </div>
      </div>
  </main>
  
      
</body>
</html>