<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creación de Obra de Arte</title>
  <link rel="stylesheet" type="text/css" href="/css/obrasCreacion.css">
  <!-- Agrega los enlaces a las hojas de estilo de Bootstrap y otros recursos aquí -->
</head>
<body>
  <%- include ('partials/header.ejs') %>
  <div class="container">
<h3 class="nuevaObra"> New</h3>
    <form  action="/obras/obraCreacion" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="Artista" class="form-label">Artista</label>
      <!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creación de Obra de Arte</title>
  <link rel="stylesheet" type="text/css" href="/css/obrasCreacion.css">
  <!-- Agrega los enlaces a las hojas de estilo de Bootstrap y otros recursos aquí -->
</head>
<body>
  <%- include ('partials/header.ejs') %>
  <div class="container">
<h3 class="nuevaObra"> New</h3>
    <form  action="/obras/obraCreacion" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="Artista" class="form-label">Artista</label>
        <select class="form-select" id="ArtistaId" name="IDArtista" required>
          <option value="" disabled selected>Selecciona un artista</option>
          <% for (let i = 0; i < artistasRegistrados.length; i++) { %>
            <option value="<%= artistasRegistrados[i].ID %>"><%= artistasRegistrados[i].Nombre %></option>
          <% } %>
        </select>
        
        
        
      </div>
      

      <div class="mb-3">
        <label for="Titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="Titulo" name="Titulo" required>
      </div>
      <div class="mb-3">
        <label for="Descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="Descripcion" rows="3" name="Descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
        <input type="date" class="form-control" id="FechaCreacion" name="FechaCreacion" required>
      </div>
      <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="Precio" name="Precio" required>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
  
        <input type="file" class="form-control" id="inputGroupFile01" name="Imagen" multiple>
  
      </div>
      <button type="submit" class="btn btn-primary">Crear Obra de Arte</button>
    </form>
  </div>
  <!-- Agrega el pie de página o cualquier otro contenido adicional aquí -->
</body>
</html>

        
      </div>
      

      <div class="mb-3">
        <label for="Titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="Titulo" name="Titulo" required>
      </div>
      <div class="mb-3">
        <label for="Descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="Descripcion" rows="3" name="Descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
        <input type="date" class="form-control" id="FechaCreacion" name="FechaCreacion" required>
      </div>
      <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="Precio" name="Precio" required>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
  
        <input type="file" class="form-control" id="inputGroupFile01" name="Imagen" multiple>
  
      </div>
      <button type="submit" class="btn btn-primary">Crear Obra de Arte</button>
    </form>
  </div>
  <!-- Agrega el pie de página o cualquier otro contenido adicional aquí -->
</body>
</html>
